<div>
  <mat-card *ngFor="let text of experiences" matRipple matRippleColor="accent">
    <img mat-card-md-image src={{text.compLogo}} alt="{{text.compName}}'s logo">
    <!-- <h2>{{text.compName}}</h2> -->
    <mat-card-title>{{text.compName}}</mat-card-title>
    <!-- <h4>{{text.title}} <br> {{text.startDate}} - {{text.endDate}}</h4> -->
    <mat-card-subtitle>{{text.title}} <br> {{text.startDate}} - {{text.endDate}}</mat-card-subtitle>
    <!-- <ul>
      <li *ngFor="let point of text.bp">{{point}}</li>
    </ul> -->
    <mat-card-content>
      <ul>
        <li *ngFor="let point of text.bp">{{point}}</li>
      </ul>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>

    <!-- <p>{{text.desc}}</p> -->
  </mat-card>
</div>
