<div fxLayout="column" fxFill>
  <mat-toolbar fxLayout="row" fxLayoutGap="auto" color="primary" fxFlex="7">
    <!-- Larger Screens -->
    <div fxLayout="row" fxLayoutGap="20px" fxShow.sm="false" fxShow.lt-sm="false" fxFlex>
      <a routerLink="" color="accent" style="text-decoration: none; color:white;">Khalid Noman</a>
      <a mat-raised-button color="accent" routerLink="experience">Experience</a>
      <a mat-raised-button color="accent" routerLink="projects">Projects</a>
      <a mat-raised-button color="accent" routerLink="certifications">Certifications</a>
    </div>
    <div fxLayoutGap="5px" fxShow.sm="false" fxShow.lt-sm="false">
      <a mat-icon-button href="https://www.linkedin.com/in/khalid-noman-5574a21b9/" target="_blank"><mat-icon class="mat-18">linkedin</mat-icon></a>
      <a mat-icon-button href="tel:+18326160082"><mat-icon class="mat-18">phone</mat-icon></a>
      <a mat-icon-button href="mailto:ksnoman@live.com"><mat-icon class="mat-18">email</mat-icon></a>
    </div>

    <!-- Smaller Screens -->
    <div fxShow.gt-sm="false" fxFlex fxLayoutAlign="space-between center">
      <a  routerLink="" color="accent" style="text-decoration: none; color:white;">Khalid Noman</a>
      <button mat-mini-fab (click)="menuClick()"> <mat-icon class="mat-18">menu</mat-icon></button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
      <mat-sidenav mode="over" [opened] = "sideNav" color="primary" position="end">
        <div fxLayout="column" fxFlex fxLayoutAlign="space-between start">
          <div fxLayout="column" fxlayoutAlign="space-around center">
            <a mat-button color="primary" routerLink="experience">Experience</a>
            <a mat-button color="primary" routerLink="projects">Projects</a>
            <a mat-button color="primary" routerLink="certifications">Certifications</a>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <a mat-icon-button href="https://www.linkedin.com/in/khalid-noman-5574a21b9/" target="_blank"><mat-icon class="mat-18">linkedin</mat-icon></a>
            <a mat-icon-button href="tel:+966553314600"><mat-icon class="mat-18">phone</mat-icon></a>
            <a mat-icon-button href="mailto:ksnoman@live.com"><mat-icon class="mat-18">email</mat-icon></a>
          </div>
        </div>
      </mat-sidenav>
      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-container>


</div>

