<mat-card>
  <h1>Welcome to my website!</h1>
  <h2>Contact Info:
    <h4><a href="tel:+966553314600">+966553314600</a> | <a href="mailto:ksnoman@live.com">ksnoman@live.com</a></h4>
    <h4><a href="../../assets/KhalidNoman_Resume.pdf" target="_blank">Resume</a></h4>
  </h2>
  <h2>Skills:
    <h4><ul style="column-count: 2;">
      <li>JavaScript</li>
      <li>SQL</li>
      <li>C++</li>
      <li>Xamarin</li>
      <li>Typescript</li>
      <li>Angular</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Ada</li>
      <li>C (Programming Language)</li>
      <li>C#</li>
      <li>Python</li>
      <li>Microsoft Azure</li>
      <li>XML</li>
    </ul></h4>
  </h2>
  <h2>Languages:
    <h4><ul>
      <li>Arabic - Native Language</li>
      <li>Engilsh - Speak fluently and read/write with high proficiency</li>
    </ul></h4>
  </h2>
  <h2>Awards:
    <h4><ul>
      <li>Summa Cum Laude</li>
      <li>Dean's List / President's List -All semesters</li>
      <li>Global Young Leaders Conference</li>
      <li>Computer Science Majors Endowed Scholarship Fund</li>
      <li>Undergraduate Academic Achievement Scholarship</li>
    </ul></h4>
  </h2>
</mat-card>
